body
    margin: 0
    padding: 0

    header
        .nav-item
            position: relative
            &::after
                content: ''
                border-bottom: 2px solid blue
                border-radius: 5px
                width: 0
                position: absolute
                left: 0
                top: 5vh
                transition: .7s
                margin-bottom: 20px
            &:first-child, &:hover
                &::after
                    width: 90%
    .img_s2_2
        background-image: url(../../public/img/slider.jpg) !important
        background-size: cover !important
        height: 76vh !important
        background-position: center
    .button_s2
        background: blue
        top: 50%
        left: 3%
        width: 4vw
        height: 7vh
        border: 2px solid blue
        border-radius: 80%
    .button_s2_2
        background: blue
        top: 50%
        right: 3%
        width: 4vw
        height: 7vh
        border: 2px solid blue
        border-radius: 80%
    .medical
        color: blue
    .text_carousel1
        width: 50vw
        height: 50vh
        display: flex
        align-items: center
        padding: 100px
    .button_carousel
        width: 20vw
        display: flex
        justify-content: space-between
        justify-content: space-around
    nav
        font-size: 17px
        .text_s1_style
            font-family: Rubik-VariableFont_wght
        .div_one_nav
            width: 90vw !important
        .dropdown_s1
            font-size: 17px
        .img_s1
            width: 30vw !important
    .text_s3
        h1
            width: 50vw
        display: flex
        flex-direction: column
        align-items: center
        padding: 15px
        gap: 1vh
        p
            width: 50vw
        .lorem_s3
            display: flex
            flex-direction: column
            align-items: center
            padding: 0px
        .family_s3
            display: flex
            flex-direction: column
            align-items: center
            
    .div1-sec2
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        position: relative
        &::before
            content: ""
            position: absolute
            top: 22vh
            left: 65vw
            width: 8vw
            border-bottom: dotted dodgerblue 2px
        .para2
            width: 50%
            text-align: center
    .div2-sec2
        display: flex
        align-items: center
        justify-content: space-evenly
        width: 100%
        position: relative
        &::before
            content: ""
            position: absolute
            top: 4vh
            left: 30vw
            width: 8vw
            border-bottom: dotted dodgerblue 2px

    .child-div
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 50%

        .icon
            display: flex
            align-items: center
            justify-content: center
            color: blue
            border: 1px solid grey
            border-radius: 50%
            padding: 20px
            font-size: 2rem
    .para-child
        width: 60%
        text-align: center

    .text_s3_p2
        display: flex
        width: 60vw
        justify-content: space-around
        flex-direction: row
        font-size: 5px
        .font-size_s3
            padding: 5px
            font-size: 25px
        .test1
            padding: 8px
.sec4
    .image_sec4
        background-image: url(../../public/img/fun-bg.jpg) !important
        background-size: cover !important
        height: 30vh !important
        background-position: center
        display: flex
        justify-content: space-around
        .home_text
            width: 15vw
            color: white
            display: flex
            align-items: center
            justify-content: space-between
            h3
                display: flex
                flex-direction: column
            p
                display: flex
                flex-direction: column
            .color_s4
                width: 100vw
                height: 100%
                background: blue
            .icon_s4
                font-size: 50px
                border: 2px solid white
                border-radius: 80%
                padding: 15px
        .home_text_1
            width: 20vw
            display: flex
            color: white
            .icon_s4
                font-size: 50px
                border: 2px solid white
                border-radius: 80%
                padding: 15px
.div1-sec5
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    padding-top: 30px
    .heading2
        align-items: center
        display: flex
        width: 40%
        font-size: 40px
    .para2
        width: 50%
        text-align: center
// !sec6
.sec-6text
    width: 30vw
    display: flex
    flex-direction: column
    justify-content: space-around
    .heading3
        padding: 7px
        height: 7vh
    .para3
        height: 15vh

.sec-6heads
    .heads-6
        display: flex
        height: 20vh
        justify-content: space-between
        i
            padding: 10px
            color: #1a76d1
    .vid_sec6
        height: 10vh
        display: flex

// sec 7
.bg_s7
    display: flex
    align-items: center
    flex-direction: column
    justify-content: space-around
    height: 40vh
    .h1_s7
        display: flex
        align-items: center
        width: 50%
        color: white
        .span1
            padding: 90px
    .p_s7
        color: white
    a
        width: 10vw
    .but_s7
        gap: 15px
        display: flex
        justify-content: center
        width: 100%
    .sec7_pics
        display: flex
        width: 80%
        justify-content: space-around
        .imgnone
            display: flex
            .imgtwo_s8
                display: flex
                flex-direction: row

        .s11
            .generals11
                .para11
                    width: 50vw !important
.sec12
    .image_sec12
        background-image: url(../../public/img/client-bg.jpg) !important
        background-size: cover !important
        height: 30vh !important
        background-position: center
        display: flex
        justify-content: space-around
        .imgs_s12
            display: flex
            justify-content: space-between
            align-items: center
            img
                cursor: pointer
                width: 20%
.s13_1
    width: 15vw
.s13_2
    width: 25vw
.button_s14
    display: flex
    padding: 20px
    width: 20vw
    text-align: center
.b_input_s14
    .b_and_i_s14
        display: flex
        flex-direction: row
.container
        .fot_final
            width: 90%
        .form-control
                &::placeholder
                    color: white

@media (max-width: 426px )
    body
        margin: 0
        padding: 0
        .but_carousel
            margin-top: 10px
            width: 50vw
            display: flex
            flex-direction: column
            gap: 20px
        .button_s2
            width: 10vw
        .button_s2_2
            width: 10vw
        .text_carousel1
            display: flex
            padding: 50px
            width: 100vw
            height: 10vh
        .div1-sec2
            display: flex
            align-items: center
            .heading2
                font-size: 20px
                padding: 10px
                width: 70vw
                display: flex
                flex-direction: column
                align-items: center
            .para2
                width: 100vw
        .div2-sec2
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-evenly
            width: 100%
            position: relative
            &::before
                display: none
            .child-div
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                width: 100%
                p
                    width: 80%
        .sec4
            .image_sec4
                background-image: url(../../public/img/fun-bg.jpg) !important
                background-size: cover !important
                height: 100vh !important
                background-position: center
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-around
                .home_text
                    width: 10vw
                    font-size: 15px
                    color: white
                    display: flex
                    align-items: center
                    flex-direction: column
                    justify-content: space-between
                    h3
                        font-size: 20px
                        display: flex
                        align-items: center
                    .icon_s4
                        font-size: 30px
                        border: 2px solid white
                        border-radius: 80%
                        padding: 15px
                .home_text_1
                    width: 10vw
                    font-size: 15px
                    color: white
                    display: flex
                    align-items: center
                    flex-direction: column
                    justify-content: space-between
                    .icon_s4
                        font-size: 35px
                        border: 2px solid white
                        border-radius: 80%
                        padding: 15px
        .div1-sec5
            padding: 5px
            display: flex
            align-items: center
            flex-direction: column
            position: relative
            .heading2
                align-items: center
                display: flex
                width: 66%
                font-size: 20px
            .para2
                width: 100%
                text-align: center
        .sec-6text
            .heading3
                width: 50vw
            .para3
                width: 90vw
        .sec-6heads
            .heads-6
                width: 90vw
                display: flex
                height: 20vh
                justify-content: space-between
                i
                    padding: 10px
                    color: #1a76d1
        .divforvid
            width: 100%
            display: flex
            align-items: center
            .vid1
                width: 100%
                border: 20px solid white
        // sec 7
        .bg_s7
            display: flex
            align-items: center
            flex-direction: column
            justify-content: space-around
            height: 80vh
            padding: 50px
            .h1_s7
                h1
                    font-size: 28px
                    width: 100%
                display: flex
                align-items: center
                width: 100%
                color: white
                .span1
                    padding: 0px
                .span2
                    padding: 125px
            .p_s7
                color: white
                width: 90vw
            a
                width: 50vw
            .but_s7
                gap: 15px
                display: flex
                justify-content: center
                width: 100%
        .sec7_pics
            .imgnone2
                display: none
            .img_s7
                display: flex
                flex-direction: column-reverse
                border: 20px solid white
        .generalsec10
            display: flex
            flex-direction: column
            justify-content: space-around
            align-items: center
            gap: 8px
        .s11
            .generals11
                width: 100%
                .para11
                    align-items: center
                    width: 80%
        .sec12
            .image_sec12
                background-image: url(../../public/img/client-bg.jpg) !important
                background-size: cover !important
                height: 30vh !important
                background-position: center
                display: flex
                flex-direction: column
                justify-content: space-around
                width: 100vw
                .imgs_s12
                    display: flex
                    flex-direction: column
                    .img_none_s9
                        display: none
                    img
                        cursor: pointer
                        width: 80%
        .img00
            width: 100%
        .book_s13
            width: 50%
        .width_s13
            width: 100%
        .sec14
            input
                padding: 20px
                display: flex
            .button_s14
                display: flex
                padding: 20px
                width: 60vw
                text-align: center
        .b_input_s14
            margin-left: 40px
            align-items: center
            .b_and_i_s14
                display: flex
                width: 60vw
                flex-direction: column
                gap: 10px
                justify-content: space-between