body
    margin: 0
    padding: 0
    .img_s2_2
        background-image: url(../../public/img/slider.jpg) !important
        background-size: cover !important
        height: 76vh !important
        background-position: center
    .button_s2
        background: blue 
        top: 50%
        left: 3%
        width: 4vw
        height: 7vh
        border: 2px solid blue
        border-radius: 80%
    .button_s2_2
        background: blue 
        top: 50%
        right: 3%
        width: 4vw
        height: 7vh
        border: 2px solid blue
        border-radius: 80%
    .medical
        color: blue
    .text_carousel1
        width: 50vw
        height: 50vh
        display: flex
        align-items: center
        padding: 100px
    .button_carousel
        width: 20vw
        display: flex
        justify-content: space-between
        justify-content: space-around
    nav
        font-size: 17px
        .text_s1_style
            font-family: Rubik-VariableFont_wght
        .div_one_nav
            width: 90vw !important
        .dropdown_s1
            font-size: 17px
        .img_s1
            width: 30vw !important

@media (max-width: 426px )
body
    margin: 0
    padding: 0
    // .text_carousel1
    //     display: flex
    //     padding: 50px
    //     // width: 100vw
    //     height: 10vh

